[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pygame = "*"

[dev-packages]
pygbag = "*"

[requires]
python_version = "3.11"

[scripts]
desktop = "python ./run-desktop.py"
web = "python ./run-web.py"
"web build" = "python ./run-web.py --build"
