[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pygame = "*"

[dev-packages]
pygbag = "*"
pylint = "*"
autopep8 = "*"
pytest = "*"

[requires]
python_version = "3.12"

[scripts]
desktop = "python ./run-desktop.py"
auto = "python ./run-auto.py"
web = "python ./run-web.py"
pylint = "pylint ./src"
