
name: pylint
on: [push]


jobs:
  pylint:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Install dependencies
      uses: VaultVulp/action-pipenv@v2.0.1
      with:
        command: sync --dev
    - name: Build
      uses: VaultVulp/action-pipenv@v2.0.1
      with:
        command:  run pylint
